$colors: green teal yellowgreen yellow;

$list:((normal,bold,10px),(emphasis,italic,20px));
@each $color in $colors {
  .#{$color} {
    background: $color;
  }
}

body {
  display: flex;
}

div {
  flex:1;
  height: 100vh;
}

@each $name,$style,$size in $list{
  .#{$name}{
    font-size:10*$size;
    font-style: $style;
  }
}